h1 {
  font-family: Times New Roman;
  font-weight: bold;
  color: black;
  font-size: 30px;
}

h2 {
  
  font-family: Times New Roman;
  font-weight: normal;
  color: black;
  font-size: 20px;
}

h3 {
  font-family: Times New Roman;
  font-weight: normal;
  color: black;
  font-size: 20px;
}

section {
        padding: 20px;
        margin: 20px;
        background-color: cornsilk;
        border-radius: 6px solid gold;
  }
 
 
 
 
